<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container my-container ">
      <div>
        <a class="dropdown-item" href="javascript:void(0)" routerLink="home">
          <img class="" src="assets/img/logo-w.jpg" width="30" height="30" alt="">
        </a>
      </div>
      <ul class="navbar-nav">
        <!-- Dropdown -->
        <li ngbDropdown class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdownMenuLink"
            role="button"
            ngbDropdownToggle
            aria-expanded="false"
          >
            Ciao
          </a>
          <ul ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li>
              <a class="dropdown-item" href="javascript:void(0)" routerLink="persone">persone</a>
            </li>
            <li>
              <a class="dropdown-item" href="javascript:void(0)" routerLink="contratti">contratti</a>
            </li>
            <li>
              <a class="dropdown-item" href="javascript:void(0)" routerLink="aziende">aziende</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
</nav>
